<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <h4>Basic Information</h4>

  <div class="field form-group">
      <%= f.label :display_name %><br />
      <%= f.text_field :display_name, autofocus: true, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
  </div>

  <h4>Profile Information</h4>
  <p>Add a profile image and biography to your profile!</p>

  <div class="field form-group">
      <%= f.label :avatar %>
      <%= f.file_field :avatar, class: "form-control" %>
      <% if @player.avatar.attached? %><%= link_to "Remove your photo", delete_avatar_players_avatar_path, method: :delete, data: { confirm: "Are you sure?" }%><% end %>
  </div> 

  <div class="field form-group">
      <%= f.label :bio %><br />
      <%= f.trix_editor :bio, class: "form-control" %>
  </div>

  <h4>Social Links</h4>
  <p>Any social links you add below will appear on your profile!</p>

  <div class="field form-group">
      <%= f.label :website %><br />
      <%= f.text_field :website, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label 'Facebook User/Page Name' %><br />
    <%= f.text_field :facebook, autocomplete: "facebook", class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label 'Twitter Handle' %><br />
    <%= f.text_field :twitter, autocomplete: "twitter", class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label 'Instagram Handle' %><br />
    <%= f.text_field :instagram, autocomplete: "instagram", class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label 'Youtube Channel Name' %><br />
    <%= f.text_field :youtube, autocomplete: "youtube", class: "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <br >

  <h4>Change Password?</h4>
  <p>Leave blank if you don't want to change it (<%= @minimum_password_length %> characters minimum)</p>
  <div class="field form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>

  <br >

  <div class="actions">
    <%= f.submit "Update", class: "btn btn-outline-light" %>
  </div>

<% end %>

<br />
<h3>Cancel my account</h3>

<p>Unhappy with your account? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-outline-light" %></p>

<br />
<%= link_to "Back", :back, class: "btn btn-outline-light" %>
