<% if current_player %><% comment_build = current_player.comments.build ; picture = current_player.avatar.attached? ? current_player.avatar : "profile_image.png" %><% else %><% comment_build = Comment.new ; picture = "profile_image.png"%><% end %>
<div class="row" style="margin-top: 5px">
    <div class="col-sm-2 my-auto">
        <%= image_tag(picture, :size => "50x50", :class => "border border-primary rounded-circle profile_image") %>
    </div>
    <%= form_for(comment_build, :html => {:class => "col-sm-10 row" }) do |f| -%>
    <div class="field form-group col-sm-10 my-auto">
        <%= f.text_field :content, class: "form-control border border-primary rounded" %>
    </div>

    <div class="actions col-sm-2 my-auto">
        <%= f.hidden_field :game_id, value: @game.id %>
        <%= f.submit "Comment", class: "btn btn-outline-light", style: "background-color: white" %>
    </div>
<% end %>
</div>
