<% @game.versions.reverse.each do |version| %>
<% player = Player.find(version.whodunnit) -%>
<p><%= link_to player.username, show_player_url(player.username) %> performed <%= version.event %> at <%= version.created_at %></p>
<% end %>
