<div class="row comment-box"> 
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
        <br />
        <%= render 'partials/add-comment' %>

        <% comments = Comment.where(:game_id => @game.id) %>
        <% comments.each do |comment| -%>
            <% player = Player.find(comment.player_id) -%>
            <div class="row content comment border border-primary rounded">
                <div class="col-sm-2 text-center comment-inner">
                    <span><%= link_to( image_tag(player.avatar.attached? ? player.avatar : "profile_image.png", :size => "50x50", :alt => player.username, :class => "border border-primary rounded-circle profile_image"), show_player_url(player.username)) %><br /><%= link_to( player.display_name? ? player.display_name : player.username, show_player_url(player.username)) %></span>
                </div>
                <div class="col-sm-10 text-left comment-inner">
                    <p><%= comment.content %></p>
                    <p class="comment-data"><i><%= comment.created_at.strftime("%F %T") %></i><% if current_player && player.username == current_player.username %><span style="float:right;"><%= link_to content_tag(:i, nil, class: 'fa fa-lg fa-trash'), comment, method: :delete, data: { confirm: 'Are you sure you want to delete this comment?' } %></span><% end %></p>
                </div>
            </div>
        <% end -%>
    </div>
    <div class="col-sm-2">
    </div>
</div>
