<div class="row container">
<h2>Recent Activity</h2>
<br />
<% activity_map = { 'tag_list' => 'Tags', 'name_alt' => 'Alternative Names' } %>
<% @feed.each do |item| %>
    <% player = Player.find(item['player_id']) ; game = Game.find(item['game_id']) ; item.key?('event') ? '' : item['event'] = "commented on" %>
    <div class="row container">
        <div class="col-sm-1">
            <span><%= link_to( image_tag(player.avatar.attached? ? player.avatar : "profile_image.png", :size => "50x50", :alt => player.username, :class => "border border-primary rounded-circle profile_image"), show_player_url(player.username)) %></span>
        </div>
        <div class="col-sm-10">
            <p><b><%= link_to player.username, show_player_url(player.username) %></b> <%= item['event'].sub(/e$/, 'ed') %> <%= link_to word_cap(game.name), game_path(game.slug) %> at <i><%= item['updated_at'] || item['created_at'] %></i></p>
            <% if item['event'] == "commented on" %>
                <blockquote class="blockquote border-primary border-left"><p><%= truncate(strip_tags(item['content'].html_safe), :length => 100, :omission => "... (continued)") %></p></blockquote>
            <% elsif item['event'] == "create" %>
                <% text = item['content'].tr('-', '') %>
                <% yaml = YAML.load(item['content']) %>
                <blockquote class="blockquote border-primary border-left"><p><%= truncate(strip_tags(yaml['description'][1]), :length => 100, :omission => "... (continued)") %></p></blockquote>
            <% else %>
                <% yaml = YAML.load(item['content']) %>
                <% yaml.delete('updated_at') %>
                <% yaml.keys.each { |k| yaml[ activity_map[k] ] = yaml.delete(k) if activity_map[k]} %>
                <blockquote class="blockquote border-primary border-left"><p>Made changes to <i><%= word_cap(yaml.keys.join(', ')) %></i></p></blockquote>
            <% end %>
            <br />
        </div>
        <div class="col-sm-1">
        </div>
    </div>
<% end %>
</div>
