<footer class="page-footer font-small cyan darken-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 pt-5 pb-3">
        <div class="mb-3 text-center">
          <a href="https://facebook.com/improvgamesfun" class="socialicon fab fa-lg fa-facebook fa-2x"></a>
          <a href="https://twitter.com/ImprovGamesFun" class="socialicon fab fa-lg fa-twitter fa-2x"></a>
          <a href="https://ko-fi.com/stuuuts" class="socialicon fa fa-lg fa-coffee fa-2x"></a>
          <a href='https://www.patreon.com/stuts' class="socialicon fab fa-lg fa-patreon fa-2x" ></a>
        </div>
        <div class="mb-1 text-center">
            <p style="color: white"><a href="/">Home</a> | <a href="/about">About</a> | <a href="/games">Games</a> | <a href="/contact">Contact</a></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://www.improvgames.fun"> ImprovGames.Fun</a>
  </div>
  <!-- Copyright -->

</footer>
