<div class="table-responsive">
<table class="table table-hover" style="display:table">
    <thead class="thead-dark">
        <tr scope="col"  style="text-align:center;font-size: large;line-height: 1;">
            <th class="align-middle">Name</th>
            <th class="align-middle hidemobile">Players (Min)</th>
            <th class="align-middle hidemobile">Players (Max)</th>
            <th class="align middle">Difficulty</th>
            <th class="align-middle">Tags</th>
        </tr>
    </thead>
    <% unless @games.empty? %>
    <% @games.each do |game| %>
    <tr scope="row" style="text-align:center">
        <td class="align-middle"><%= link_to word_cap(game.name), game_path(game) %></td>
        <td class="align-middle hidemobile"><%= game.players_min %></td>
        <td class="align-middle hidemobile"><%= game.players_max %></td>
        <td class="align middle"><%= diff = find_difficulty(game.difficulty_id) ; link_to word_cap(diff.name), difficulty_path(diff.name) %></td>
        <td class="align-middle"><%= game.tag_list.map {|t| link_to word_cap(t), tag_path(t)}.join(", ").html_safe %></td>
    </tr>
    <% end -%>
    <% end -%>
</table>
</div>
