    <div class="field form-group">
        <%= f.label :name_alt, 'Other Names (comma-separated list of alternative names for this game)' %>
        <%= f.text_field :name_alt, class: "form-control" %>
    </div>

    <div class="field form-group">
        <%= f.label :difficulty_id, 'Difficulty' %>
        <%= collection_select :game, :difficulty_id, Difficulty.all, :id, :name_in_caps, {}, {:class=>"form-control", :required => true} %>
    </div>

    <div class="field form-group">
        <%= f.label :type_id, 'Type' %>
        <%= collection_select :game, :type_id, Type.all, :id, :name_in_caps, {}, {:class=>"form-control", :required => true} %>
    </div>

    <div class="field form-group">
        <%= f.label :players_min, 'Minimum Players' %>
        <%= f.number_field :players_min, class: "form-control", required: true %>
    </div>

    <div class="field form-group">
        <%= f.label :players_max, 'Maximum Players' %>
        <%= f.number_field :players_max, class: "form-control", required: true %>
    </div>

    <div class="field form-group">
        <%= f.label :description, 'Description (how to play the game)' %>
        <%= f.trix_editor :description, class: "form-control", id: "description", required: true %>
    </div>

    <div class="field form-group">
        <%= f.label :intro, 'Intro (tips on introducing and playing the game in a show format)' %>
        <%= f.trix_editor :intro, class: "form-control" %>
    </div>

    <div class="field form-group">
        <%= f.label :notes %>
        <%= f.trix_editor :notes, class: "form-control" %>
    </div>

    <div class="field form-group">
        <%= f.label :sample, 'Sample (link to a YouTube video)' %>
        <%= f.text_field :sample, class: "form-control" %>
    </div>

    <div class="field form-group">
        <%= f.label :tag_list, 'Tags (comma-separated list of tags)' %>
        <%= f.autocomplete_field :tag_list, autocomplete_tag_name_games_path, :"data-delimiter" => ', ', :value => @game.tag_list.join(', '), 'data-showNoMatches' => false, class: "form-control" %>
    </div>
    <br />

    <div class="actions">
        <%= f.submit @submit_text, class: "btn btn-outline-light" %>
    </div>

