<ul class="nav nav-tabs" id="myTab" role="tablist">
    <% ('A'..'Z').each do |letter| %>
    <li class="nav-item">
        <a class="nav-link <%= "active" if letter == 'A'%>" id="<%= letter %>-tab" data-toggle="tab" href="#<%= letter %>" role="tab" aria-controls="<%= letter %>" aria-selected="true"><%= letter %></a>
    </li>
    <% end %>
</ul>
<div class="tab-content" id="myTabContent">
<% games = Game.all %>
<% ('A'..'Z').each do |letter| %>
    <% @games = games.where('name LIKE ?', letter + '%').all.order('name') %>
    <div class="tab-pane fad show <%= "active" if letter == 'A'%>" href="<%= letter %>" id="<%= letter %>" role="tabpanel" aria-labelledby="<%= letter %>-tab">
    <br />
    <% unless @games.empty? %>
        <%= render 'partials/game-table' %>
    <% else %>
        <p>No games starting with <%= letter %>!</p>
    <% end %>
    </div>
<% end %>
</div>
<%= javascript_tag "tabLinks()" %>
