<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
        <a class="navbar-brand" href="<%=root_path%>"><%= image_tag("LogoOrangeSmall.png", :size => "100x65", :alt => "Home") %></a>
        <ul class="navbar-nav btn-group ml-auto">
            <button id="accountDropdown" type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%if current_player %><%= image_tag(current_player.avatar.attached? ? current_player.avatar : "profile_image.png", :size => "50x50", :alt => "Home", :class => "border border-primary rounded-circle profile_image") %><%else%>Account<%end%>
            </button>
            
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-header" aria-labelledby="#accountDropdown">
            <% if current_player %>
                <%= link_to 'View profile', show_player_path(:username => current_player.username), class: "dropdown-item dropdown-item-header" %>
                <%= link_to 'Edit profile', edit_player_registration_path, class: "dropdown-item dropdown-item-header" %>
                <%= link_to 'Sign out', destroy_player_session_path, class: "dropdown-item dropdown-item-header", method: :delete %>
            <% else %>
                <%= link_to 'Sign up', new_player_registration_path, class: "dropdown-item dropdown-item-header" %>
                <%= link_to 'Log in', new_player_session_path, class: "dropdown-item dropdown-item-header" %>
            <% end %>
            </div>
        </ul>
    </nav>
</header>
