<% socials = ['facebook', 'twitter', 'instagram', 'youtube', 'website'] %>

<% socials.each do |social| %>
    <% icon = social %>
    <% unless @player[social].nil? || @player[social].empty?%>
        <%= sociallink(social, @player[social]) %>
    <% end %>
<% end %>
