<% tags = [] %>
<% if @player.username == 'stuts' %><% tags << 'Founder' %><% end %>
<% if @creations >= 10 %><% tags << 'Creator' %><% end %>
<% if @contributions >= 10 %><% tags << 'Contributor' %><% end %>

<% tags.each do |tag| %>
    <span class="badge badge-light"><%= tag %></span>
<% end %>
