<a rel="nofollow" data-site="<%= object[:name] %>" title="Share to <%= word_cap(object[:name]) %>" class="socialicon fa<%unless object[:name] == 'envelope'%>b<%end%> fa-lg fa-<%= object[:name] %>" href="JavaScript:newPopup('<%= object[:href] %>')" target="external"></a>
