<%= render partial: 'partials/socialicon', locals: {object: socialicon('facebook')} %>
<%= render partial: 'partials/socialicon', locals: {object: socialicon('twitter', "Check out the improv game #{ERB::Util.u(word_cap(@game.name))}!", "improvgamesfun, improv, games")} %>
<%= render partial: 'partials/socialicon', locals: {object: socialicon('tumblr', "Check out the improv game #{ERB::Util.u(word_cap(@game.name))}!", "improvgamesfun, improv, games")} %>
<%= render partial: 'partials/socialicon', locals: {object: socialicon('reddit', "Check out the improv game #{ERB::Util.u(word_cap(@game.name))}!")} %>
<%= render partial: 'partials/socialicon', locals: {object: socialicon('envelope', "Check out the improv game #{ERB::Util.u(word_cap(@game.name))}!")} %>
