<sub-header>
    <nav class="navbar navbar-expand-md navbar-dark">
        <%# LEFT ALIGNED %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/feed">Activity Feed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="subDropdownGames" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Games
                    </a>
                    <div class="dropdown-menu dropdown-menu-sub" aria-labelledby="subDropdownGames">
                        <a class="dropdown-item dropdown-item-sub" href="/games">All</a>
                        <a class="dropdown-item dropdown-item-sub" href="/games/new">Create</a>
                        <a class="dropdown-item dropdown-item-sub" href="/difficulties">Difficulties</a>
                        <a class="dropdown-item dropdown-item-sub" href="/tags">Tags</a>
                        <a class="dropdown-item dropdown-item-sub" href="/types">Types</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="subDropdownInfo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Project
                    </a>
                    <div class="dropdown-menu dropdown-menu-sub" aria-labelledby="subDropdownInfo">
                        <a class="dropdown-item dropdown-item-sub" href="/about">About</a>
                        <a class="dropdown-item dropdown-item-sub" href="/get_involved">Get Involved</a>
                        <a class="dropdown-item dropdown-item-sub" href="/roadmap">Roadmap</a>
                    </div>
                </li>
            </ul>
        <%# RIGHT ALIGNED %>
            <ul class="navbar-nav ml-auto">
                <%=form_tag('/search', :method => "get", id: "search-form", class: 'form-inline') do %>
                    <%= text_field_tag :search, params[:search], placeholder: "Search...", class: 'form-control' %>
                    <button class="btn btn-outline-light fa fa-search" type="submit"></button>
                <% end %>
            </ul>
        </div>
    </nav>
</sub-header>
