<% unless @game.sample.empty? %>
<div class="container-video">
    <iframe src="https://www.youtube.com/embed/<%= get_video_id(@game.sample)%>" frameborder="0" allowfullscreen class="video"></iframe>
</div>
<% else %>
    <p>There doesn't seem to be any info here, consider <%= link_to "updating the game", edit_game_path %></p>
<% end %>
