<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field form-group">
    <%= f.label :login %><br />
    <%= f.text_field :login, autofocus: true, autocomplete: "login" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: "btn btn-outline-light" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
