<h2>The Aim</h2>
<p>This site is built with the intention of collecting all of the weird and wonderful improvisation games into a single wiki. Also to build a community around developing and sharing new games with fellow improvisers!</p>
<p>The idea originated after an improv workshop along with the teacher, <i>Tom Young</i>. We were talking about his array of game notes in various locations and my want to database the s**t out of them.</p>
<p>From the initial idea, I have since scribbled, noted and planned many other features for this site that I believe will both connect and aid the improv community as a whole. For a taste of things to come, check out the <%= link_to 'roadmap', '/roadmap' %>.</p>
<hr>
<h2>The Games</h2>
<p>Improv games have always been tweaked, modified and passed around between teachers and students alike. While there is no
such thing as 'owning' an improv game there is certainly credit due for the writing of the descriptions and rules of a game.</p>
<p>This site emphasises this point with collaborative editing of games such that we can all contribute our thoughts, notes and details to the games we hold so near and dear to our hearts.</p>
<hr>
<h2>The Community</h2>
<p>Without the community, this site will neither survive nor thrive. There are already some wonderfully active users but the more the merrier!</p>
<p>Some members of the community have specially contributed to the development of this site, either through help with marketing, design or structure. I'd like to give them a special shoutout here:</p>
<ul>
    <li><a href="https://twitter.com/mobilehugh">Hugh Macleod</a> provided some really useful insight into categorising games</li>
    <li><a href="https://twitter.com/boostimprov">The Improv Boost</a> helped spread the word and taught me a lot regarding social media presence</li>
</ul>
<p>And a special thanks to all who reached out to send over game notes, feature requests or just to compliment the site. Please do <a href="/contact">get in touch</a> if you have anything you'd like to say!</p>
