<h2>Get Involved</h2>
<p>Thanks for wanting to get involved with the development of ImprovGames.Fun! Any and all help is greatly appreciated.</p>
<p>Things you can do to support the growth of this community:</p>
<ul>
    <li>Contribute games!</li>
    <li>Leave us a good review on <a target="_blank" rel="noopener noreferrer" href="https://fb.me/improvgamesfun">Facebook</a></li>
    <li>Spread the word to fellow improvisers</li>
    <li>Financially support the hosting and development of this website (<a target="_blank" rel="noopener noreferrer" href="https://www.ko-fi.com/stuuuts">Support Me on Ko-Fi</a>, <a target="_blank" rel="noopener noreferrer" href="https://www.patreon.com/stuts">Become a Patron</a> or <a target="_blank" rel="noopener noreferrer" href="https://www.redbubble.com/people/-stuts-/works/36254011-improv-games-fun">Purchase Some Merchandise</a>)</li>
    <li>Assist with development of features and fixes (COMING SOON)</li>
</ul>
<p>Alternatively, if you have any questions, feedback or just want to chat then feel free to <a href="/contact">get in touch</a>.</p>
