<h2 style="text-align: center">Welcome to ImprovGames.Fun!</h2>
<h4 style="text-align: center"><i>The Ultimate Improv Game Wiki</i></h4>
<br>
<p style="text-align: center">ImprovGames.Fun is a community wiki project for improvisers to share and discover improv games with one another. A collaborative project to centralise all of the mad games that get played all around the globe.<p>
<p style="text-align: center">What are you waiting for?? Find out <%= link_to "more about us", '/about' %>, check out the <%= link_to "games we have", games_path %> and see how <%= link_to "you can get involved", '/get_involved' %>!</p>
<hr>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-4">
            <h2 style="text-align: center"><%= @game_count %></h2>
            <h3 style="text-align: center">Games</h3>
        </div>
        <div class="col-sm-4">
            <h2 style="text-align: center"><%= @tag_count %></h2>
            <h3 style="text-align: center">Tags</h3>
        </div>
        <div class="col-sm-4">
            <h2 style="text-align: center"><%= @player_count %></h2>
            <h3 style="text-align: center">Players</h3>
        </div>
    </div>
    <br >
    <p style="text-align: center">Jump in, be a part of it and help us grow!</p>
</div>
<hr>
<br >
<h3 style="text-align: center">Have you played...</h3>
<br >
<div class="border border-primary rounded">
<h3 style="text-align: center"><i><% game = Game.order(Arel.sql("RANDOM()")).first %><%=link_to word_cap(game.name), game_path(game)  %></i></h3>
<blockquote class="blockquote text-center border-top border-primary rounded"><p><%= game.description.html_safe %></p></blockquote>
</div>
<br />
<hr>
<%= render 'partials/feed' %>
