<h2>Roadmap</h2>

<p>This site is still in early development stages. While the core functionality for users and games has been added there are a bunch of features that I'd like to get implemented going forward.</p>

<p>A look at upcoming planned features:</p>
<ul>
    <li>Translations (to ensure that this tool can benefit improvisers all over the world)</li>
    <li>Voting systems (to better allow the community to curate the quality content on the site)</li>
    <li>Game collections (organise and save games all in one place)</li>
    <li>Game exports (export your collections of games to a printable document)</li>
    <li>Groups (create your improv troupe, add members and feature your own group content)</li>
    <li>Comments and discussion support on games (to promote the evolution and analysis of various games)</li>
    <li>Community reputation (to reflect contributions to content and discussion on the site)</li>
    <li>Improv tools (various helper tools for rehearsals and workshops)</li>
    <ul>
        <li>Random suggestions</li>
        <li>Workshop/setlist builder</li>
    </ul>
</ul>
<p>Phew. Well. The above is a dauntingly ambitious roadmap but I'm determined to create the ultimate improv companion tool. Time to locate the elbow grease...</p>
<p>Be sure to check out how you can <a href="/get_involved">Get Involved</a> in making this dream a reality.</p>
