<h1>Results</h1>
<% if ! defined? @results %>
    <p>Welcome to the search page, to search for something use the search bar at the top of the page.</p>
<% elsif @results.empty? %>
    <p>No games matching: <%= params[:search] %></p>
<% else %>
    <% @results.each do |result| %>
        <h2><%= link_to word_cap(result.searchable.name), result.searchable %></h2>
        <p><%= truncate(strip_tags(result.searchable.description.html_safe), :length => 100, :omission => "... (continued)") %> <p>
        <hr >
    <% end %>
<% end %>
