<h2>Contact Us</h2>
<p>We'd love to hear your feedback, questions, concerns, feature requests or favourite breakfast items! Get in touch below.</p>
<%= form_for(@contact) do |f| %>
    <% if @contact.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this message from being sent:</h2>
            <ul>
            <% @contact.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field form-group">
        <%= f.label :name, 'Name' %>
        <%= f.text_field :name, class: "form-control", autofocus: true, required: true %>
    </div>

    <div class="field form-group">
        <%= f.label :email, 'Email' %>
        <%= f.text_field :email, class: "form-control", required: true %>
    </div>

    <div class="field form-group">
        <%= f.label :message, 'Message' %>
        <%= f.trix_editor :message, class: "form-control", required: true %>
    </div>

    <div class="actions">
        <%= f.hidden_field :nickname, :hint => 'Leave this field blank!' %>
        <%= f.submit 'Send message', class: "btn btn-outline-light" %>
    </div>
<% end %>
