<h2>Editing <%= @game.name %></h2>
<%= form_for(@game) do |f| -%>
    <% if @game.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>
            <ul>
            <% @game.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

    <%= render partial: 'partials/game-form', locals: {f: f} %>

<% end -%>
<% if @game.player == current_player %>
<br>
<h3>Delete Game</h3>
<p>Typo in the game name? Duplicate of an existing game? No worries, just delete!</p>
<%= button_to "Delete Game", game_path(@game), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-outline-light" %>
<% end %>
