<h2>Create Game</h2>

<% if current_player -%>
<%= form_for(@game) do |f| -%>
    <% if @game.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>
            <ul>
            <% @game.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field form-group">
        <%= f.label :name, 'Name' %>
        <%= f.text_field :name, class: "form-control", autofocus: true, required: true %>
    </div>

    <%= render partial: 'partials/game-form', locals: {f: f} %>

<% end -%>
<% else -%>
<p><b>You must be logged in to be able to submit games</b></p>
<%= link_to "Sign up", new_registration_path(:player), class: 'btn btn-outline-light' %>
<%= link_to "Log in", new_session_path(:player), class: 'btn btn-outline-light' %>
<% end -%>
