<h2 style="text-align: center"><%= @title %> <%= link_to 'Edit', edit_game_path, class: "btn btn-outline-light" %></h2>
<% if !@game.name_alt.empty? %><h4 style="text-align: center"><i>Also known as <%= @game.name_alt %></i></h4><% end %>
<p style="text-align: center"><%= render 'partials/social-buttons', locals: {url: @game} %></p>
<hr>
<div class="container-fluid text-center">
    <% @players.each do |player| %><%= link_to( image_tag(player.avatar.attached? ? player.avatar : "profile_image.png", :size => "50x50", :title => player.username, :class => "border border-primary rounded-circle profile_image"), show_player_url(player.username))%>  <% end %>
</div>
<hr>
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-6 left">
            <p><b>Players:</b> <%= @game.players_min %>-<%= @game.players_max %></p>
            <p><b>Difficulty:</b> <%= link_to word_cap(@difficulty.name), difficulty_path(@difficulty.name) %></p>
        </div>
        <div class="col-sm-6 right">
            <p><b>Type:</b> <% if ! @game.type_id.nil?%><%= link_to word_cap(@type.name), type_path(@type.name) %><% else %>No type <%= link_to "(update the game)", edit_game_path %><% end %></p>
            <p><b>Tags:</b> <%= @game.tag_list.map {|t| link_to word_cap(t), tag_path(t)}.join(", ").html_safe %></p>
        </div>
    </div>
</div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="desc-tab" data-toggle="tab" href="#desc" role="tab" aria-controls="desc" aria-selected="true">Description</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="intro-tab" data-toggle="tab" href="#intro" role="tab" aria-controls="intro" aria-selected="false">Intro</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="notes-tab" data-toggle="tab" href="#notes" role="tab" aria-controls="notes" aria-selected="false">Notes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="sample-tab" data-toggle="tab" href="#sample" role="tab" aria-controls="sample" aria-selected="false">Sample</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="changelog-tab" data-toggle="tab" href="#changelog" role="tab" aria-controls="changelog" aria-selected="false">Changelog</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="desc" role="tabpanel" aria-labelledby="desc-tab"><%= @game.description.html_safe %></div>
  <div class="tab-pane fade" id="intro" role="tabpanel" aria-labelledby="intro-tab"><%= @game.intro.html_safe.presence || "There doesn't seem to be any info here, consider #{link_to "updating the game", edit_game_path}".html_safe %></div>
  <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab"><%= @game.notes.html_safe.presence || "There doesn't seem to be any info here, consider #{link_to "updating the game", edit_game_path}".html_safe %></div>
  <div class="tab-pane fade" id="sample" role="tabpanel" aria-labelledby="sample-tab"><%= render 'partials/video-embed' %></div>
  <div class="tab-pane fade" id="changelog" role="tabpanel" aria-labelledby="changelog-tab"><%= render 'partials/changelog' %></div>
</div>
<% content_for :below do %>
    <%= render 'partials/comments' %>
<% end %>
<%= javascript_tag "tabLinks()" %>
