<h3>Top 10 Tags</h3>
<% @toptags.each do |tag| %>
<% unless tag.taggings_count == 0 %>
    <%= link_to "#{word_cap(tag.name)} x#{tag.taggings_count}", tag_path(tag.name), class: "btn btn-outline-light" %>
<% end %>
<% end %>
<hr>
<h3>All Tags</h3>
<% @tags.order(:name).each do |tag| %>
<% unless tag.taggings_count == 0 %>
<%= link_to "#{word_cap(tag.name)} x#{tag.taggings_count}", tag_path(tag.name), class: "btn btn-outline-light" %>
<% end %>
<% end %>
