<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form-group">
    <%= f.label :login %><br />
    <%= f.text_field :login, autofocus: true, autocomplete: "login", class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field form-check">
      <%= f.check_box :remember_me, class: "form-check-input" %>
      <%= f.label :remember_me, class: "form-check-label" %>
    </div>
<% end -%><br />

  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-outline-light" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
