<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-4 left">
            <p style="text-align:center"><%= image_tag(@image, :size => "200x200", :alt => "Home", :class => "border border-primary rounded-circle profile_image") %></p>
        </div>
        <div class="col-sm-8 column content">
            <div class="row content">
                <div class="col-sm-12 left">
                    <h1><%= ! @player.display_name.blank? && @player.display_name || @player.username %></h1>
                </div>
            </div>
            <div class="row content">
                <div class="col-sm-6 left">
                    <p><%= render 'partials/player-badges' %></p>
                    <p><%= @creations %> Creations<br><%= @contributions %> Contributions</p> 
                </div>
                <div class="col-sm-6 left" style="padding-top: 10px">
                    <%= render 'partials/player-socials' %>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<% if @player.bio -%>
    <%= @player.bio.html_safe %>
<% else -%>
    <p>This player doesn't have a bio yet</p>
<% end -%>
<hr >
<h2>Contributions</h2>
<p>This user has contributed to the below games.</p>
<%= render 'partials/game-table' %>
<hr >
<%= render 'partials/feed' %>
