<% @difficulties.order(:id).each do |difficulty| %>
<h2><%= link_to word_cap(difficulty.name), difficulty_path(difficulty.name) %></h2>
<p><%= simple_format(difficulty.description.capitalize) %></h2>
<hr >
<% end %>

