/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "font-awesome";

@import "font_awesome5_webfont";
/*@import "font_awesome5.css";*/

@import "trix";

@import 'jquery-ui';

/* FIT TO ENTIRE SCREEN WHEN NOT ENOUGH CONTENT */
html, body {
    min-height: 100%;
}
html {
    height: 100%;
}
.maincontent {
    min-height: 50vh;
}


/* SCROLLABLE TABS */
.nav-tabs {
  overflow-x: auto;
  overflow-y: hidden;
  display: -webkit-box;
  display: -moz-box;
}
.nav-tabs>li {
  float: none;
}

/* EDITOR TOOLBAR */
div.trix-button-row > span.trix-button-group.trix-button-group--text-tools > button.trix-button.trix-button--icon.trix-button--icon-strike, div.trix-button-row > span.trix-button-group.trix-button-group--block-tools > button.trix-button.trix-button--icon.trix-button--icon-quote {
    display: none;
}

/* BLOCKQUOTES */
.blockquote {
    padding-left: 1rem;
}

/* COMMENTS */
.comment {
    margin: 15px;
    background-color: white;
}

.comment-box {
    background-color: #f4f6f9;
    padding-bottom: 2rem;
}

.comment-inner {
    margin-top: 8px;
}

.comment-data {
    font-size: x-small;
    display: contents;
}

/* VIDEO EMBEDDING */
.container-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* BORDER COLOUR */
.border-primary {
    border-color: #df661f !important;
}

/* SOCIAL LINKS */
a.socialicon.fa, a.socialicon.fa:hover, a.socialicon.fab, a.socialicon.fab:hover {
    color: #df661f;
    padding-left: 2.5px;
    padding-right: 2.5px;
    text-decoration: none;
}

/* HIDE SIDENAVS ON MOBILE DEVICES */
@media screen and (max-width: 768px) {
    .sidenav {
        display: none;
    }
    .centernav {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .hidemobile {
        display: none;
    }
}

/* LINK COLOURS */
a, a:hover {
    color: #df661f;
}

/* BUTTON PADDING */
.btn {
    margin-left: 0.25rem;
    margin-bottom: 0.125rem;
    margin-top: 0.125rem;
}

/* --------------------------- */
/* LIGHT COLOUR TO MATCH THEME */
/* --------------------------- */
.btn-outline-light, .badge-light {
    color: #df661f;
    border-color: #df661f;
}

.btn-outline-light:hover {
    border-color: #df661f;
    background-color: #df661f;
}

.btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active, .show > .btn-outline-light.dropdown-toggle {
    border-color: #df661f;
    background-color: #df661f;
}

/* dropdown menu colors */
.dropdown-item-header {
    background-color: #333a41;
    border-color: #333a41;
    color: #df661f;
}
.dropdown-item-header:hover, .dropdown-item-sub:hover {
    border-color: #df661f;
    background-color: #df661f;
}

.dropdown-item-sub {
    background-color: #485058;
    border-color: #485058;
    color: rgba(255, 255, 255, 0.5);
}
.dropdown-menu-sub {
    background-color: #485058;
}

.dropdown-menu-header {
    background-color: #333a41;
}

.nav-link, .navbar-dark .navbar-nav .active {
    color: #df661f;
}

#navbarMenu > ul.navbar-nav.mr-auto > li.nav-item.active > a {
    color: #df661f;
    font-weight: bold;
}

/* ----------------------------- */
/* SUBHEADER LIGHTER THAN HEADER */
/* ----------------------------- */
body > sub-header > nav {
    background-color: #485058;
}

/* ------------ */
/* FOOTER STYLE */
/* ------------ */

footer {
    bottom: 0;
    left: 0;
    right: 0;
    /*position: absolute;*/
    background-color: #343a40;
}

.footer-copyright {
    background-color: #df661f;
}

body > footer > div.footer-copyright.text-center.py-3 > a, body > footer > div.footer-copyright.text-center.py-3 > a:hover {
    color: white;
}

.profile_image {
    border-width: 2px !important;
}

/* ERROR STYLING */
#error_explanation h2, #error_explanation ul li {
    color: red;
}









/* PAGINATION TEMPLATES */
.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    color: #df661f;
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #df661f;
    color: white;
    border: 1px solid #df661f; }
  .digg_pagination a {
    text-decoration: none;
    color: #df661f;
    border: 1px solid #df661f; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: white;
      background: #df661f;
      border-color: #df661f; }
  .digg_pagination .page_info {
    background: #df661f;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }

/* AUTOCOMPLETE */
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;

    &.ui-state-focus, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}

.ui-helper-hidden-accessible { display:none; } //Hide that pesky bottom message
