<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p><b>Why Am I Receiving This Email?</b></p>
<p>You've received this email because this email address has been used to register a user at <a href="https://www.improvgames.fun">https://www.improvgames.fun</a>. The confirmation of your email proves you're a real person in order to improve the general security of the site.</p>
