<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title><%= @title || "ImprovGames.Fun" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#df661f">
    <meta name="msapplication-TileColor" content="#df661f">
    <meta name="theme-color" content="#df661f">
  </head>

  <body>
    <!--- Headers --->
    <%= render 'partials/header' %>
    <%= render 'partials/sub-header' %>

    <!--- Flash Cards --->
    <% flash.each do |name, msg| %>
        <% if name == "notice" %><% name = "success" %><% end %>
        <% if name == "alert" %><% name = "info" %><% end %>
        <%= content_tag(:div, msg, class: "alert alert-#{name} text-center") %>
    <% end %>

    <!--- Page Content --->
    <div class="container-fluid text-center maincontent">
        <div class="row content" style="padding-bottom: 2rem">
            <div class="col-sm-2 sidenav"> 
            </div>
            <div class="col-sm-8 text-left centernav" style="word-wrap: break-word">
                <br />
                <%= yield %>
            </div>
            <div class="col-sm-2 sidenav">
            </div>
        </div>
        <%= yield :below %>
    </div>

    <!--- Fixed footer --->
    <%= render 'partials/footer' %>
  </body>
</html>
